body{
    /* Location of the image */
    background-image: url('../images/113_mr_burns_excellent.png');

    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
       the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;
}

table.minimalistBlack {
    border: 3px solid #000000;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.minimalistBlack td, table.minimalistBlack th {
    border: 1px solid #000000;
    padding: 5px 4px;
}

table.minimalistBlack tbody td {
    font-size: 18px;
}

table.minimalistBlack thead {
    background: #CFCFCF;
    background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    border-bottom: 3px solid #000000;
}

table.minimalistBlack thead th {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.trophy {
    width: 50px;
    height: 50px;
}

.column-table {
    text-align: center;
}

.column-score-table {
    text-align: right;
}

.player-summary-label {
    font-weight: bold;
}

.player-container {
    position: relative;
    width: 100%;
    height: 20%;
    display: block;
    margin-bottom: 10%;
    font-size: 18px;
}
.summary-player-first {
    width: 50%;
    height: 100%;
    float: left;
}
.summary-player-last {
    margin-left: 50%;
    height: 100%;
}